* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: red;
  --secondColor: #000;
}

::selection {
  background-color: var(--mainColor);
  color: var(--secondColor);
}



body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--secondColor);
  font-style: italic;
  font-family: "Brush Script MT, cursive";
  color: var(--mainColor);
}
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

h2 {
  position: absolute;
  top: 10%;
  text-align: center;
  font-size: 3rem;
  white-space: nowrap;
}

@media (max-width: 767px) {
  h2 {
    top: 34%;
    font-size: 2rem;
  }
}

.box {
  border: 1px solid var(--mainColor);
  padding: 10px;
  width: 500px;
  height: 100px;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

.box span {
  flex: 1;
  border-radius: 8px;
  border: 1px solid var(--mainColor);
  background-color: var(--mainColor);
  color: var(--secondColor);
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.box span::after {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  background-color: var(--secondColor);
  color: var(--mainColor);
  font-size: 1.5rem;
  font-weight: normal;
  padding: 5px;
  left: 0;
  bottom: 0;
}

@media (max-width: 767px) {
  .box {
    width: 90%;
  }
  .box span::after {
    font-size: 1rem;
  }
}

.msg {
  width: 100%;
  font-size: 2rem;
  line-height: 1.6;
  text-align: center;
  padding: 20px;
}